.zcalc-container {
    width: 100%;
    background: #020617;
    color: #e5e7eb;
}

.zcalc-subtitle p {
    font-size: 0.9rem;
    color: #9ca3af;
    text-align: left;
}


.results-box {
    display: flex;
    margin-top: 1.5rem;
    padding: 1rem;
    background: #000000;
    border: 1px solid #334155;
    justify-content:center;
}


.result-line strong {
    color: #a5b4fc;
}

.gdal-command {
    margin-top: 1rem;
}


#iframe{
    border: none;
    width: 100%;
    min-height: 250px;
}
